<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- Local CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href=" {% static "css/base.css" %} ">

    <title>
        {% if  title  %}
            Blog - {{ title }}
        {% else %} 
            Blog
        {% endif %}
    </title>
</head>
<body>
    <!-- Facebook Comments Plugin SDK -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>

    <!-- Pinterest Social handle -->
    <script async defer src="https://assets.pinterest.com/js/pinit.js"></script>

    {% include "messages_display.html" %}
    
    <div class="container">
        {% block bodyBlock %}
        {% endblock bodyBlock %}
    </div>


<!-- Boostrap JS -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>