{% extends 'base.html' %}

{% load urlify %}

{% block bodyBlock %}


<div class="col-sm-8 col-sm-offset-3">
    {% if instance.image %}
        <img src="{{ instance.image.url }}" class='img-responsive'>
    {% endif %}
    <h1>{{ instance.title }} {% if instance.draft %} <small>
        <span style='color:red;'>Draft</span>
    </small> {% endif %} <small>{{ instance.timestamp }}</small> </h1>
    <p>Author: {{ instance.user }}</p>
    </br>

    <div class="row">
        <div class="col-sm-12">
            <div class="content-markdown">
                <p>{{ instance.content }}</p>
            </div>
            <hr>
            <br>
            <!-- Facebook Like and Share button --> 
            <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>

            <!-- Facebook Comments -->
            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="100%" data-numposts="5"></div>
        </div>
    </div>

    <!-- Social Links Sharing. -->

    {% comment %} <p>
        <!-- Facebook -->
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://{{ request.build_absolute_uri }}/">
        Share on Facebook
        </a>

        <!-- Twitter -->
        <a href="https://twitter.com/home?status={{ instance.content|urlify }}20{{ request.build_absolute_uri }}/">
        Share on Twitter
        </a>

        <!-- Google Plus -->
        <a href='https://plus.google.com/share?url=http://{{ request.build_absolute_uri }}'>Share on Google+</a>

        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ instance.content|urlify }}&source={{ request.build_absolute_uri }}">
            Share on Linkedin
        </a>

        <!-- Reddit -->
        <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&{{ instance.content|urlify }}">Share on Reddit</a>

        <!-- Pinterest -->
        <a data-pin-do="buttonBookmark" href="{{ request.build_absolute_uri }}"><img src="{{ obj.image.url }}" /></a>
    </p> {% endcomment %}
</div>

{% endblock bodyBlock %}